
$font-size : 10px;
$heigt : 55px;
$width_100 : 100%;
$main_color : #33d6a8;
$sub_color: #00AAAA;
$White_color : #fff;
$radius : 50px;
 

@mixin line-height ($t-a : center , $l-h : 50px){
    text-align: $t-a;
    line-height: $l-h;
}
@mixin border-line($width : 2px , $col : #dbdbdb) {
    border: $width solid $col;
    @content;
}
@mixin display-flex($d : flex , $j-c : space-around , $f-w : null){
    display: $d;
    justify-content: $j-c;
    flex-wrap: $f-w;
}
%grid{
    display: grid;
    justify-content: space-between;
    grid-template-columns: repeat(3 , 307px);
    grid-template-rows: repeat(2 , 276px);
    gap:25px;
}
@mixin w-h($w:null , $h:null){
    width: $w;
    height: $h;
}//높이 넓이

@mixin position-style($p: absolute, $t: null, $r: null, $b: null, $l: null , $z:null) {
    position: $p;
    top: $t;
    right: $r;
    bottom: $b;
    left: $l;
    z-index: $z;
}
@mixin transition($property : all , $time :0.5s, $timing : ease){
    transition-property : $property;
    transition-duration : $time;
    transition-timing-function : $timing;
}
@mixin figure {
    @extend %grid;
    figure:nth-child(1){
        grid-row: 1 /span 2;
        img{
            height: $heigt + 522;
        }
        figcaption{
            @include position-style($p:relative ,$t:25px);
            @include w-h( $w : $width_100 - 20, $h : $heigt );
            border-radius: $radius;
            background-color: #ffffff75;
            margin: -569px auto 0;
            span{
                cursor: pointer;
                @include line-height();
                height: inherit;
                display: inline-block;
                font: {
                    size: $font-size + 13 ;
                    weight : bold;
                }
               
            }
        }
        @content ;
    }
    figure:nth-child(n+2){
        cursor: pointer;
        position: relative;
        overflow: hidden;
        &:hover{
            figcaption{
                bottom: -4px;
                @include transition()
                
            }
        }
        figcaption{
            @include position-style($b:-93px);
            @include transition()
        }
    }
    @content ;
}


body{
    cursor: default;
    font-family: 'Noto Sans KR', sans-serif;
}
#container{
    width: 1100px;
    margin: 0 auto;
}
#header{
    border: {
        top: 3px solid $main_color;
        bottom: 1px solid #dbdbdb;
    }
    @include position-style($z:1000);
    width: $width_100;
    #container{
        @include display-flex($j-c:null);
    }
    .header_left{
        width: percentage(0.16);
        padding: 50px 30px 0 0 ;  
    }
    .header_right{
        
        width: $width_100;
        .header_right_top{
            padding: 18px 0;
            ul{
                @include display-flex($d:inline-flex , $j-c:null);
                margin-right: 55.8%;
                li{
                    cursor: pointer;
                    @include border-line( $width:1px, $col:#D9D9D9 );
                    padding: 3px 6px;
                    &:nth-child(1){
                        background-color: $main_color;
                        color: $White_color;
                    }
                    &:nth-child(2){
                        border: {
                            left: 0;
                            right: 0;
                        };
                    }
                }
            }
            span{
                cursor: pointer;
                background-color: $main_color;
                color: $White_color;
                font-size: $font-size+1;
                border-radius: 30px;
                padding: 5px;
            }
            input{
                @include border-line();
                margin-right: 10px;
                overflow: auto;
                &::placeholder{
                    text-align: center;
                }
            }
        }
        nav{
            font-size: $font-size+8;
            ul{
                @include display-flex( $j-c : space-between);
                li{
                    padding: 0 0 10px 0;
                    position: relative;
                    &:hover{
                        &::after{
                            @include position-style( $l:0,$b:0 );
                            content: "";
                            background-color: $main_color;
                            width: $width_100;
                            height: $heigt - 50;
                        }
                    }
                }
            }
        }
    }
}
#banner{
    width: $width_100;
    @include position-style($p:relative );
    figure{
        img{
           @include w-h( $w : $width_100, $h : 100vh );
           object-fit: cover;
        }
        &:nth-child(2){
            @include position-style( $t:0, $z:-1 );
        }
        figcaption{
            @include position-style( $t:240px,$l:370px );
            @include line-height($t-a:null);
            font-size: $font-size+35;
            p{
                font-size: $font-size+10;
                margin-top: 10px;
                color: #767676;
            }
        }
    }
    .thumbnail{
        cursor: pointer;
        @include position-style( $t:415px,$l:370px ,$z :1 );
        img{
            @include w-h( $w : 100px, $h: $heigt - 10 );
            @include border-line( $col:transparent );
            &.active{
                @include border-line( $col:$main_color );
            }
        }
    }
}

#contents_0{
    @include position-style($p:relative , $t:-104px);
    .first_visit{
        @include position-style($p:relative);
        @include transition($time:1s);
        height: $heigt + 145;
        background: url(../img/bg_first.jpg) 330px / cover no-repeat;
        margin: 0 auto;
        color: $White_color;
        .left{
            @include w-h( $w: $width_100 - 70,$h:inherit );
            @include position-style($p:relative);
            display : inline-block;
            background-color: #444444;
            &::after{
                content: "";
                @include position-style($t:0,$l:330px);
                border: {
                    bottom: 100px solid transparent;
                    left: 50px solid #444444;
                    top: 100px solid transparent;
                };
            }
            h1{
                font-size: $font-size+15;
                margin: 61px 0 0 30px;
            }
            h2{
                font-size: $font-size;
                margin: 10px 0 0 30px;
            }
        }
        .right{
            @include position-style($t:0 , $r:0 );
            width: percentage(0.65);
            @include display-flex();
            figure{
                width: 50px;
                margin-top: 66px;
                img{
                    &:hover{
                        transform: scale(1.5,1.5);
                    }
                }   
                figcaption{
                    font-size: $font-size + 2;
                    width: 75px;
                    text-align: center;
                    margin-left: -10px;
                }
            }
        }
    }
    .Securities_information{
        margin: 20px auto;
        overflow: hidden;
        position: relative;
       
        height: $heigt - 5;
        .box{
            @include line-height();
            @include display-flex($j-c : space-evenly);
            @include position-style();
            width: $width_100;
            div{
                width: $width_100 - 70;
                font-size: $font-size+10;
            }
           &.first_el , &.second_el{
            top: 50px;
            @include transition($time:0.4s,$timing:ease-in-out);
            &.active{
                top: 0px;
                @include transition($time:0.4s,$timing:ease-in-out);
                }
           }
        }
    }
}
    
#contents_1{

margin-top: -50px;
.tab_menu{
    @include position-style($p:relative);
        ul{
            @include display-flex( $j-c : center);
            li{
                @include line-height($l-h : null);
                font-size: $font-size + 10;
                padding: 10px;
                width: 170px;
            }
        }
        .highlight{
            @include position-style( $l:75px,$t:0 ,$z : -1);
            @include w-h( $w:190px,$h : $heigt - 5 );
            @include transition($time : 0.4s);
            background-color: $sub_color;
            color: $White_color;
            border-radius: $radius - 20;
            display: block;
            &::after{
                content: "";
                @include position-style($b:-9px , $l:85px );
                border: {
                    top: 10px solid $sub_color;
                    left : 10px solid transparent;
                    right : 10px solid transparent;
                };
            }
        }
    }
.tab_cont{
    
    margin: 36px auto;
    width: $width_100 - 10;
    .cont{
        display: none;
        &.active{
            display: grid;
        }
    }

    .focus{
        @extend %grid;
         a{
            //  height: $heigt + 221;
             &:nth-child(1){
                 grid-row: 1 /span 2;
             }   
         }
     }

     .fund{
        @extend %grid;
        line-height: 25px;
        cursor: pointer;
        .best{
            @include border-line;
            padding: 30px;
             &.fund1{
                grid-row: 1 /span 2;
                background: url(../img/fund_best.png) no-repeat;
                padding-top: 330px;
             }
             &.fund3{
                h2{
                    margin-bottom: 30px;
                }
                em{
                    font: {
                        size: 27px;
                        weight : normal;
                    }
                    &::after{
                        @include position-style($p:null, $l : 57px , $b : 4px);
                        font-size: $font-size + 10 ;
                    }
                 }
             }
            span{
                @include border-line{
                    border-radius: $radius - 20;
                }
                font: {
                    size: $font-size + 5;
                    weight : 300;
                }
                padding: 0 10px;
                margin: {
                    top : 50px;
                    right : 5px;
                }
                color: #555555;
            }
            h2{
                font: {
                    size: $font-size + 9;
                    weight : 500;
                }
                margin: {
                    top : 15px;
                    bottom : 50px;
                }            
            }
            em{
                font: {
                    weight: 900;
                    size: $font-size + 25;
                }
                position: relative;
            }
            em::after{
                content: "%"; 
                @include position-style($l:80px , $b:8px );
                font-size: $font-size + 14;
            }
        }
    }

    .overseas_stock{
        margin-top: 40px;
        .title{
            text-align: center;
            h1{
                font-size: $font-size + 15;
            }
            h2{
                font : {
                    size: $font-size + 6;
                    weight : 300;
                };
            }
        }
        .content{
            cursor: pointer;
            @include display-flex( $j-c : space-between , $f-w : wrap);
            margin-top: 30px;
            .overseas_stock_content{
                overflow: hidden;
                @include w-h( $w : $width_100 - 72 , $h : $heigt + 125 );
                @include transition($timing : null );
                @include position-style($p:relative ,$t:0 );
                background-color: #F7F9F9;
                margin-bottom: 25px;
                padding: 20px;
                ul{
                    display: flex;
                    li{
                        border-radius: $radius;
                        background-color: #E5EDED;
                        padding: 3px 8px;
                        margin-right: 10px;
                        color: #858585;
                    }
                }
                span{
                    @include position-style( $l:0,$b:-30px ,$z:3);
                    @include transition( $timing :null);
                    font-size: $font-size + 5;
                    display: block;
                    width: 317px;
                    background-color: #f7f9f9c5;
                    padding: 25px  0 25px 20px ;
                    box-sizing: border-box;
                    opacity: 0;
                }
                &:hover{
                    top: -10px;
                    span{
                        bottom: 0px;
                        opacity: 1;
                    }
                }
                &:nth-child(3){
                    span{
                        font-size: $font-size + 4;
                    }
                }
                h3{
                    font-size: $font-size + 10;
                    margin-bottom: 10px;
                }
                i{
                    font-size: $font-size + 60;
                    color: $main_color;
                    &::before{
                        @include position-style( $r:40px,$b:20px ,$z :1);
                    }
                }
            }
        }
    } 
     
   



    .product{
        .product_1{
            @include figure(){
                figure:nth-child(1){
                        span{
                            &:nth-child(1){
                                color: #71B1F8;
                                background-color: #fff;
                                border-radius: 50px;
                                width: 57%;
                            }
                            &:nth-child(2){
                                margin-left: 21px;
                                color: #fff;
                            }
                        }
                    }
                }
            }
            .product_2{
                display: none;
                @include figure(){ 
                    figure:nth-child(1){
                        span{
                            &:nth-child(1){
                                margin: {
                                    left: 41px;
                                    right: 22px;
                                }
                                color: #fff;
                            }
                            &:nth-child(2){
                                color: #80D292;
                                background-color: #fff;
                                border-radius: $radius;
                                width: 57%;
                            }
                        }
                    }
                 }   
            }
        }
        .etc{
            cursor: pointer;
            img{
                height: 577px;
            }
        }

    }   
}


.notice{
    width: $width_100 - 10 ; 
    margin: 100px auto;
    display: grid;
    grid-template-areas: " left   right"
                         " bottom bottom";
    .notice_left{
       grid-area: left;
       padding: 10px;
       cursor: pointer;
        ul{
            padding: 10px;
            li{
                padding: 4px;
            }
           
        }
    }
    .notice_right{
        grid-area: right;
        padding: 10px;
        p{
           @include line-height( $l-h : 127px);
           color: #9e9e9e;
        }
    }
    h2{
        border-bottom: 1px solid #555555;
        justify-content: space-between;
       i{
        margin: {
            top: 4px;
        }
        float: right;
       }
    }
    .notice_bottom{
        cursor: pointer;
        grid-area: bottom;
        padding: 10px;
        .notice_bottom_figure{
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            margin-top: 10px;
            figure{
                padding-right: 10px;
                &:nth-last-child(1){
                    padding-right: 0px;
                }
                figcaption{
                    margin-top: 15px;
                    span{
                    font-weight: bold;
                    margin-right: 10px;
                    }
                    em{
                    font-size: $font-size;
                    }
                    p{
                        width: 237px;
                        display: block;
                        overflow: hidden;  		
                        text-overflow: ellipsis;  	
                        white-space: nowrap; 	
                    }
               

                }
            }
             
        }
    }
}

    
#contents_3{
    background-color: #E7E7E7;
    margin-top: 100px;
       .footer_menu{
        width: $width_100 - 15 ;
        margin: 0 auto;
        padding: 25px 0;
            ul{
                @include display-flex();
          
                li{
                   padding-left: 10px;
                   border-left: 1px solid #D7D7D7;
                   &:nth-child(1){
                    border-left: 0;
                   }
                    h6{
                        font: {
                            weight : bold;
                            size: $font-size + 3;
                        };
                    }
                    ul.sub_ul{
                         display: inline-block;
                            li{
                                padding-top: 7px;
                                font-size: $font-size + 1; 
                                border: 0;
                                list-style:disc;
                                list-style-position:inside;
                                    &::marker{
                                    color: #7f7f7f;
                                }
                                a{
                                    color: #7f7f7f;
                                }
                            }
                            
                        }  
                    }
                    .banner_footer_img{
                        cursor: pointer;
                        ul.sub_ul{
                            li{
                                list-style: none;
                            }
                        }
                    }
            }
                
        }
 }


    
#footer{
    #container{
       padding: 30px;
       position: relative;
        .footer_link{
            @include display-flex( $j-c : null, $f-w:wrap);
            width: $width_100 - 24;
            li{
                position: relative;
                padding: 2px 5px;
                &::after{
                    content: "";
                    @include w-h( $w : 1px, $h : $heigt - 45 );
                    @include position-style($r:0, $t:8px );
                    background-color: #000;
                }
            }
           }
           .footer_familysite{
            @include position-style( $r:33px ,$t:31px );
           }
           .footer_logo{
            @include w-h( $w : 128px,$h:35px );
            float: right;
            cursor: pointer;
           }
           span{
            padding: 10px;
            display: block;
           }
       }
    }
  
    
